{% extends 'base.html.twig' %}

{% block title %} Titre! {% endblock %}

{% block body %}
    <h1> Vous êtes né dans le département :{{ departement }} !</h1>
    <h2>Vous êtes {{ sexe }}! <h1>
            
            {% endblock %}