{% extends "base.html.twig" %}
{% block title %}
    {{ titre }}
{% endblock %}
{% block body %}
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>nom</th>
                <th>salaire</th>
            </tr>
        </thead>
        <tbody>           
                <tr>
                    <td>{{ id }}</td>
                    <td>{{ nom }}</td>
                    <td>{{ salaire }}</td>
                </tr>        
                
    </table>
{% endblock %}