{% extends "base.html.twig" %}
{% block title %}
    {{ "Employe" }}
{% endblock %}
{% block body %}
    <table>
        <thead>
            <tr>
                <th>Bonjour !!</th>
                
            </tr>
        </thead>
        <tbody>           
                <tr>
                    <td>Employe numéro {{ employe.id }}</td>
                    
                </tr>        
                
    </table>
{% endblock %}
